.btn {
    background-color: transparent;
    padding: 10px 16px;
    border: 2px solid var(--button-border-color);
    font-size: 20px;
}

.btn:hover {
    background-color: var(--button-border-color);
}

.btn__img-content {
    height: 20px;
}